:root {
  --blue: #2f80ed;
  --dark-blue: #2666be;
  --red: #eb5757;
  --gray: #dadada;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-style: normal;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2rem 0;
}

html,
body,
#root,
.App {
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

h1 {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 9.75rem;
  line-height: 12rem;
}

input {
  background-color: var(--gray);
  display: block;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

ol {
  padding-left: 0;
}

#home-container {
  background-image: url(../public/assets/home-background-moving.jpg);
  height: 100%;
}

#home-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 9.75rem;
  line-height: 12rem;
  text-align: center;
  margin-top: 10%;
  transition: transform 0.2s;
}

#home-btn:hover {
  color: var(--dark-blue);
  transform: scale(1.1);
  transform-origin: center;
}

#info-display {
  position: absolute;
  bottom: 0;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  text-align: center;
}

#submit-btn {
  background-color: var(--blue);
  color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

#submit-btn:hover {
  background-color: var(--dark-blue);
}

#timer {
  padding-bottom: 0.5rem;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#winner-modal {
  padding: 3rem 4rem;
  background-color: white;
  text-align: center;
  border-radius: 0.75rem;
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.home-text {
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.home-title {
  transform: rotate(-15deg);
  margin-left: 10%;
}

.leaderboard-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leaderboard-entry.new {
  color: red;
  font-weight: 500;
}

.leaderboard-name {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.leaderboard-position {
  margin-right: 0.5rem;
}

/* experimental code */

#ball {
  /* width: 177px;
  height: 250px; */
  display: block;
  position: absolute;
  animation: moveX 4s linear 0s infinite alternate,
    moveY 7.5s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0vw;
  }
  to {
    left: calc(100vw - 227px);
  }
}

@keyframes moveY {
  from {
    top: 0vh;
  }
  to {
    top: calc(100vh - 320.5px);
  }
}
